<p-card header="GPT-laoshi" [subheader]="teacherIntroduction">

  <p-accordion [activeIndex]="0">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between w-full align-items-center">
            <span class="vertical-align-middle">Customize your story!</span>
            <p-button (onClick)="startStory($event)" icon="pi pi-play" styleClass="p-button-rounded" [disabled]="teacherService.isProcessing"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="inline">Tell me a story suited for a student with a </p>
        <p-dropdown class="inline" [style]="{'width':'8rem'}" [options]="levels" [(ngModel)]="selectedLevel"  [editable]="true" optionLabel="name" optionValue="name"></p-dropdown>
        <p class="inline"> level about the following theme: </p>
        <input class="inline" type="text" pInputText [(ngModel)]="selectedTheme" />
        <p class="inline">.</p>
        
      </ng-template> 
    </p-accordionTab>
  </p-accordion>

  <!-- Story -->
  <p-progressSpinner *ngIf="isLoadingStory;else storyPanel"></p-progressSpinner>
  <ng-template #storyPanel>
    <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
      <p [innerHtml]="teacherAnswer | highlight: selectedCardsForStory"></p>
    </p-scrollPanel>
  </ng-template>
</p-card>

  <!-- Exercise -->
<p-progressSpinner *ngIf="exercise && !exercise.isReadyForDisplay;else exercisePanel"></p-progressSpinner>
<ng-template #exercisePanel>
  <exercise-form *ngIf="exercise" [exercise]="exercise"></exercise-form>
</ng-template>
